<div class="footer grid clearfix">
  <div class="widget footer-widget col3">
    <h3 class="widget-title">Caravan Hire</h3>
    <p>{{siteData.company.aboutus}}</p>
    <p>Up to 8 people can share this stunning 8 berth caravan.</p>
  </div>
  <div class="widget footer-widget col3" ng-include="'templates/iuh8845-3j943-4v393/views/address.html'">         
  </div>        
  <div class="widget footer-widget col3">
    <h3 class="widget-title">Latest News</h3>
    <ul class="recent-posts">
      <li class="first"><a href="">Summers Savings Now Live</a></li>
      <li><a href="">Top 10 Caravanning Locations</a></li>
      <li><a href="">19 Reasons You Need a Holiday</a></li>
      <li><a href="">Explorers Guide to Wales</a></li>
    </ul>
  </div>
  <div class="widget footer-widget col3 last">
    <h3 class="widget-title">Visitor Photos</h3>
    <img class="footer-image" src="templates/iuh8845-3j943-4v393/assets/img/small/small-1.jpg" alt="small caravan pic"/>
    <img class="footer-image" src="templates/iuh8845-3j943-4v393/assets/img/small/small-2.jpg" alt="small caravan pic"/>
    <img class="footer-image last" src="templates/iuh8845-3j943-4v393/assets/img/small/small-3.jpg" alt="small caravan pic"/>
    <img class="footer-image" src="templates/iuh8845-3j943-4v393/assets/img/small/small-4.jpg" alt="small caravan pic"/>
    <img class="footer-image" src="templates/iuh8845-3j943-4v393/assets/img/small/small-5.jpg" alt="small caravan pic"/>
    <img class="footer-image last" src="templates/iuh8845-3j943-4v393/assets/img/small/small-6.jpg" alt="small caravan pic"/><img class="footer-image" src="templates/iuh8845-3j943-4v393/assets/img/small/small-1.jpg" alt="instagram caravan pic"/>
    <img class="footer-image" src="templates/iuh8845-3j943-4v393/assets/img/small/small-2.jpg" alt="small caravan pic"/>
    <img class="footer-image last" src="templates/iuh8845-3j943-4v393/assets/img/small/small-3.jpg" alt="small caravan pic"/>
  </div>

</div>
