<div class="pre-header">
  <div class="grid">
    <span class="header-phone"><i class="fa fa-phone"></i>01457-855-467</span>
    <span class="header-social right">
      <a href=""><i class="fa fa-twitter"></i></a>
      <a href=""><i class="fa fa-facebook"></i></a>
      <a href=""><i class="fa fa-instagram"></i></a>
    </span>
  </div>
</div>
<div class="header clearfix">
  <div class="grid">
    <div class="branding col3">
      <h1 class="logo">Caravan Hire</h1>
      <span class="logo-description">Family Caravan Holidays</span>
    </div>
    <div class="navigation col9 right last">
      <ul class="header-navigation">
        <li><a ui-sref="site.page.home">Home</a></li>
        <li><a ui-sref="site.page.rental">Rental</a>
          <ul>
            <li><a ui-sref="site.page.facilities">Facilities</a></li>
            <li><a ui-sref="site.page.gallery">Gallery</a></li>
          </ul>
        </li>
        <li><a ui-sref="site.page.booking">Booking</a>
          <ul>
            <li><a ui-sref="site.page.faqs">FAQs</a></li>
            <li><a ui-sref="site.page.terms">Terms</a></li>
          </ul>
        </li>
        <li><a ui-sref="site.page.reviews">Reviews</a></li>
        <li class="last"><a ui-sref="site.page.contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>