<div class="entry-header">
	<h2 class="entry-title">Reviews</h2>
	<p class="entry-intro">We love hearing from our guests, if you’d like to submit a review <a ui-sref="site.page.contact">click here</a>.</p>
</div>

<div class="content-sidebar-wrap grid clearfix">
	<div class="content col12">
		<div class="testimonial col4">
			<div class="testimonial-content">
				<p>"I would like to say a big thank you for a beautifull stay at your caravan."</p>
			</div>
			<div class="testimonial-author clearfix">
				<img class="testimonial-author-image" src="templates/iuh8845-3j943-4v393/assets/img/reviews/1.jpg" alt="review author image">
				<div class="testimonial-author-info">
					<span class="testimonial-author-name">Paul Jarvis</span>
					<span class="testimonial-author-address">Newcastle</span>
				</div>
			</div>		
	
			<div class="testimonial-content">
				<p>"Just got back from a weekend in a caravan, had a fabulous time, the caravan is a real home from home with everything you could possibly need and more for a fantastic holiday"</p>
			</div>
			<div class="testimonial-author clearfix">
				<img class="testimonial-author-image" src="templates/iuh8845-3j943-4v393/assets/img/reviews/3.jpg" alt="review author image">
				<div class="testimonial-author-info">
					<span class="testimonial-author-name">John Bishop</span>
					<span class="testimonial-author-address">Liverpool</span>
				</div>
			</div>
		</div>
		
		<div class="testimonial col4">
			<div class="testimonial-content">
				<p>"The site is great, The staff on site were very friendly and helpful, The entertainment for both adults and kids was fab."
				</p>
			</div>
			<div class="testimonial-author clearfix">
				<img class="testimonial-author-image" src="templates/iuh8845-3j943-4v393/assets/img/reviews/2.jpg" alt="review author image">
				<div class="testimonial-author-info">
					<span class="testimonial-author-name">Michelle Davis</span>
					<span class="testimonial-author-address">Scotland</span>
				</div>
			</div>		
	
			<div class="testimonial-content">
				<p>"I would like to say a big thank you for a beautifull stay at your caravan."
				</p>
			</div>
			<div class="testimonial-author clearfix">
				<img class="testimonial-author-image" src="templates/iuh8845-3j943-4v393/assets/img/reviews/5.jpg" alt="review author image">
				<div class="testimonial-author-info">
					<span class="testimonial-author-name">Steve Grace</span>
					<span class="testimonial-author-address">Wales</span>
				</div>
			</div>
		</div>
		
		<div class="testimonial col4 last">
			<div class="testimonial-content">
				<p>"I would like to say a big thank you for a beautifull stay at your caravan."</p>
			</div>
			<div class="testimonial-author clearfix">
				<img class="testimonial-author-image" src="templates/iuh8845-3j943-4v393/assets/img/reviews/4.jpg" alt="review author image">
				<div class="testimonial-author-info">
					<span class="testimonial-author-name">Ann Cooper</span>
					<span class="testimonial-author-address">London</span>
				</div>
			</div>		
	
			<div class="testimonial-content">
				<p>"Just got back from a weekend in a caravan, had a fabulous time, the caravan is a real home from home with everything you could possibly need and more for a fantastic holiday"</p>
			</div>
			<div class="testimonial-author clearfix">
				<img class="testimonial-author-image" src="templates/iuh8845-3j943-4v393/assets/img/reviews/6.jpg" alt="review author image">
				<div class="testimonial-author-info">
					<span class="testimonial-author-name">Jessica Middleton</span>
					<span class="testimonial-author-address">Manchester</span>
				</div>
			</div>				
		</div>					
		
	</div>
</div>

<run-on-ready func="caravanJS"></run-on-ready>
