<div class="entry-header">
	<h2 class="entry-title">Terms &amp; Conditions</h2>
</div>

<div class="content-sidebar-wrap grid clearfix">
	<div class="content col8">
		<div class="entry-content">

<h2>Introduction</h2>

      <p>These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions in full.   If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.</p>

      <p>[You must be at least [18] years of age to use this website.  By using this website [and by agreeing to these terms and conditions] you warrant and represent that you are at least [18] years of age.]</p>


      <h2>License to use website</h2>
      <p>Unless otherwise stated, [NAME] and/or its licensors own the intellectual property rights in the website and material on the website.  Subject to the license below, all these intellectual property rights are reserved.</p>

      <p>You may view, download for caching purposes only, and print pages [or [OTHER CONTENT]] from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.</p>

      <p>You must not:</p>
      <ul>
          <li>republish material from this website (including republication on another website);</li>
          <li>sell, rent or sub-license material from the website;</li>
          <li>show any material from the website in public;</li>
          <li>reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;]</li>
          <li>[edit or otherwise modify any material on the website; or]</li>
          <li>[redistribute material from this website [except for content specifically and expressly made available for redistribution].]</li>
      </ul>
      <p>[Where content is specifically made available for redistribution, it may only be redistributed [within your organisation].]</p>

      <h2>Acceptable use</h2>

      <p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>

      <p>You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.</p>

      <p>You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without [NAME'S] express written consent.</p>

      <p>[You must not use this website to transmit or send unsolicited commercial communications.]</p>

      <p>[You must not use this website for any purposes related to marketing without [NAME'S] express written consent.]</p>


      <h2>Entire agreement</h2>

      <p>These terms and conditions [, together with [DOCUMENTS],] constitute the entire agreement between you and [NAME] in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.</p>				
			
		</div>
	</div>
	<div class="sidebar col4 last">
		<input type="text" id="calendar-input" />
		<div class="calendar">
			<header class="calendar-title">
				<h2><i class="fa fa-calendar"></i>
	Availability Checker</h2>
			</header>
		</div>
		<div class="widget facilities-widget clearfix">
			<h2 class="widget-title">Facilities</h2>
			<ul class="facilities-list first-row">
				<li>&#x2605; Swimming Pool</li>
				<li>&#x2605; Kids Fun Club</li>
				<li>&#x2605; Amusement Arcade</li>
				<li>&#x2605; Fishing Lake</li>
			</ul>
			<ul class="facilities-list second-row">
				<li>&#x2605; Swimming Pool</li>
				<li>&#x2605; Kids Fun Club</li>
				<li>&#x2605; Amusement Arcade</li>
				<li>&#x2605; Fishing Lake</li>
			</ul>
		</div>
		<div class="widget address-widget" ng-include="'templates/iuh8845-3j943-4v393/views/address.html'">
		</div>
	</div>
</div>

<run-on-ready func="caravanJS"></run-on-ready>
