/* Hide logo image of pre-loading screen */
.pg-loading-logo-header {
    display: none;
}

/* Pre-loading screen text color */
.pg-loading h1.loading-text {
  color: #fff;
}

/* API Load Fail screen styles */
div.site-load-fail-screen {
  display: none;
}
body.load-failed div.site-load-fail-screen {
  display: block;
  background-color: #f46d3b;
}
div.site-load-fail-screen h2 {
  color: white;
}
div.site-load-fail-screen h2 a {
  color: white;
}